*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 50px;
    min-width: 600px;
}

h1 {
    font-size: 25px;
    padding-bottom: 50px;
    text-align: center;
}

span,
label,
input {
    display: inline-block;
}

div {
    padding: 7px 7px 60px 7px;
}

a {
    color: black;
}

contact-form {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.form-title {
    font-weight: bold;
    width: 150px;
}

input {
    height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

.opinion {
    width: 70%;
    vertical-align: top;
    line-height: 25px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.form__button-fix {
    width: 130px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    color: black;
    background: none;
    border: none;
}
