*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 50px;
    min-width: 830px;
}

h1 {
    font-size: 25px;
    padding-bottom: 50px;
    text-align: center;
}

span,
label,
input {
    display: inline-block;
}

div {
    padding: 7px;
}

.subform {
    padding-top: 0;
}

.form {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.example-before {
    width: 150px;
}

.example-before-postcode {
    width: 200px;
}

.example {
    color: #c7c7c7;
}

.form-title,
.building-title {
    font-weight: bold;
    width: 150px;
}

.form-title::after {
    content: " ※";
    color: red;
    vertical-align: top;
}

input {
    height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

textarea {
    vertical-align: top;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

#last-name,
#first-name {
    width: 38%;
}

.Error {
    width: 40px;
}

.jsError {
    width: 230px;
}

.form-gender input {
    vertical-align: middle;
    width: 30px;
    margin-right: 5px;
    accent-color: black;
}

.form-gender label:first-of-type {
    margin-right: 30px;
}

#email,
#address,
#building_name,
#opinion {
    width: 77%;
}

#postcode {
    width: 70%;
}

.confirm {
    text-align: center;
    padding-top: 30px;
}

button {
    width: 130px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-left: 10px;
}
